body {
    margin: 0;
}

.hero-image {
    background-image: url(../../Content/Images/versa.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.hero-text {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
