@{
    ViewBag.Title = "Nosotros";
}



<h2 style="text-align:center">Nuestro equipo</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <br /><br />
            <center><img src="~/Content/Images/walter.jpeg" alt="Walter " style="width:55%; height:50%"></center>
            <div class="container">
                <h2>Walter Ortiz</h2>
                <p class="title">CEO/Programador/Diseñador</p>
                <p>Estudiante de ing. informática.</p>
                <p>Apasionado del fútbol y el ánime.</p>
                <p>Programador backend en Roshka S.A.</p>
                <p>Skills</p>
                <ul>
                    <li>Java</li>
                    <li>PostgreSQL</li>
                    <li>Oracle</li>
                    <li>Tomcat</li>
                    <li>JBOSS</li>
                </ul>
                <p> <a href="mailto: wortiz@uaa.edy.py">¡Contactá a Walter!</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <br />
            <br />
            <center> <img src="~/Content/Images/jorge.jpeg" alt="Jorge" style="width:50%; height:50%"></center>
            <div class="container">
                <h2>Jorge Cáceres</h2>
                <p class="title">Programador/Diseñador</p>
                <p>Estudiante de ing. informática.</p>
                <p>Programador backend en Roshka S.A./BrosCo S.A.</p>
                <p>Skills</p>
                <ul>
                    <li>Java</li>
                    <li>C#</li>
                    <li>PostgreSQL</li>
                    <li>Oracle</li>
                    <li>Tomcat</li>
                    <li>JBOSS</li>
                </ul>
                <p> <a href="mailto: jacaceres@uaa.edy.py">¡Contactá a Jorge!</a></p>
            </div>
        </div>
    </div>

</div>
