@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Qué ofrece MiAuto 0Km?</h2>
        <p>
            Ofrece una mayor facilidad para poder cotizar el costo de un vehículo 0Km en Paraguay.
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Cómo lo hace?</h2>
        <p>
            Mantiene alojado los datos sobre los vehículos y sus costos según las concesionarias y te permite verificarlos al momento, sin necesidad de contactar con un asesor de ventas para simples consultas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Cómo hago para comprar mi vehículo?</h2>
        <p>Cotizás el vehículo y obtendrás el contacto del asesor para cerrar la compra</p>
    </div>
</div>