@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">I am Jane Doe</h1>
            <h3>And I'm a Photographer</h3>
            <button>Hire me</button>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>¿Qué ofrece MiAuto 0Km?</h3>
                    <p>Ofrece una mayor facilidad para </p>
                    <p>poder cotizar el costo de un vehículo 0Km en Paraguay.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>¿Cómo hago para comprar mi vehículo?</h3>
                    <p>Cotizás el vehículo y obtendrás </p>
                    <p>el contacto del asesor para cerrar la compra</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>¿Cómo lo hace?</h3>
                    <p>Mantiene alojado los datos sobre los vehículos</p>
                    <p>y sus costos según las concesionarias y </p>
                    <p>te permite verificarlos al momento, sin necesidad de contactar </p>
                    <p>con un asesor de ventas para simples consultas.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>¿Puedo comprar desde el sitio?</h3>
                    <p>No, en esencia el sitio</p>
                    <p>sirve para centralizar</p>
                    <p>datos de distintas concesionarias </p>
                    <p>y tener un acceso rápido a sus precios.</p>
                </div>
            </div>
        </div>


    </div>

</body>


